RewriteEngine On
RewriteBase /

# If the request is not for a file or directory,
# rewrite it to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]